*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(https://assets.reedpopcdn.com/gow-r_2.png/BROK/thumbnail/1600x900/quality/100/gow-r_2.png);
    background-size: cover;
    }
    



header{
    display:flex ;
    background-color:transparent;
    column-gap: 100px;
}
.cabecalho{
    position: flex-start;
    color: white;
    font-size: 5vh;
    margin-left: 5vh;
    word-spacing: 5vh;
    margin-top: 7px;
    font-family: 'Koulen', cursive;
}

.comprar__jogo{
    text-decoration: none;
    color: #f0f8ff;
}

.personagens{
    text-decoration: none;
    color: #f0f8ff;
}

.galeria{
    text-decoration: none;
    color: #f0f8ff;
}

.noticias{
    text-decoration: none;
    color: #f0f8ff;
}



main{
    display: flex;
    background-color: transparent;
    margin-left: 5vh;
   
    
   
    
}


.logo{
    position: relative;
    height: 30vh;
    z-index: -1;
    background-color: transparent;
    
    
}

.logo2{
    height: 20vh;
    align-content: flex-end;
    background-color: black;
    margin-left: 120vh;
    margin-top: -20vh;
}

.redes__sociais{
   display: grid;
   position: relative;
    margin-left: 28vh;
    height: 40vh;
    row-gap: 8vh;
    margin-right: 3vh;
    margin-top: -8vh;
    
}



.sinopse-jogo{
    text-align:left;
    font-size: 24px;
    width: 80%;
     background-color: transparent;
     font-family: 'Libre Baskerville', serif;
     color: #f0f8ff;

     
    
}




footer{
    background-color: transparent;
   text-align: center;
   size: 5vh;
  font-size: 2vh;

   
    
}

.trailers{
 position: relative;
display:flex;
margin-left: 5vh;
margin-top: -8vh;






}

.trailer1{
    height: 25vh;
    align-content: flex-start;
    margin-right: 15px;
    
}

.trailer2{
    height: 25vh;
    align-self: flex-start;
    margin-right: 15px;
}

.trailer3{
    height: 25vh;
    align-content: flex-start;
    margin-right: 15px;
}




