*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(https://assets.reedpopcdn.com/gow-r_2.png/BROK/thumbnail/1600x900/quality/100/gow-r_2.png);
background-position-x: center;
    }



header{
    display: ;
    background-color:transparent;
    column-gap: 100px;
    
    
    
}
.cabecalho{
    position: flex-start;
    color: white;
    font-size: 5vh;
    margin-left: 5vh;
    
    
    
    
   
    
   
}

main{
    display: flex;
    background-color: transparent;
    margin-left: 5vh;
    text-align: justify;
    margin-bottom: 0;
   
    
}
.logo{
    position: relative;
    height: 30vh;
    z-index: -1;
    
}

.redes__sociais{
   display: grid;
   position: relative;
    align-items: right;
    height: 40vh;
    margin-left: 80vh;
    
}



.sinopse-jogo{
     text-align:left;
     font-size: 20px;
     width: 850px;
     background-color: transparent;
     font-family: 'Libre Baskerville', serif;
     color: azure;

     
    
}




footer{
    background-color: transparent;
   text-align: center;
   size: 10vh;
  font-size: 5vh;

   
    
}

.trailers{
height: 1px;
display:flex;
border: white;
margin-left: 5vh;
margin-top: 0;





}

.trailer1{
    height: 25vh;
    align-content: flex-start;
    margin-right: 15px;
    
}

.trailer2{
    height: 25vh;
    align-self: flex-start;
    margin-right: 15px;
}

.trailer3{
    height: 25vh;
    align-content: flex-start;
    margin-right: 15px;
}




